.idea/*
.gradle/*
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/debug
/app/dev
/app/prod
/app/release
/app/schemas
/captures
.externalNativeBuild
.cxx
/app/build
/release
/local.properties
*.log
# Built application files
*.apk
*.aar
*.ap_
*.aab
