*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/debug
/dev
/prod
/release
/schemas
/captures
.externalNativeBuild
.cxx
*.log
# Built application files
*.apk
*.aar
*.ap_
*.aab

